# Email Configuration
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-mail@gmail.com
SMTP_PASS=your-password
FROM_EMAIL=noreply@yourapp.com
TO_EMAIL='recipient-mail-address'